<html>
	<head>
		<title>DrinkServer</title>
		<meta charset="utf-8">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
		<link rel="stylesheet" href="css/mock.css">
	</head>
	<body>
		<div class="col-xs-12 col-sm-12 col-md-push-4 col-lg-push-4">
			<img class="mascot"></img>
		</div>
		<div class="col-xs-12 col-sm-12 col-md-pull-6 col-lg-pull-6">
		</div>
	</body>
<!--	<script src="js/main.js"></script>
-->
</html>
