<html>
	<head>
		<title>DrinkServer</title>
		<meta charset="utf-8">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
		<link rel="stylesheet" href="css/main.css">
	</head>
	<body>
		<div class="header">
			<span>プロ生ちゃん</span>ドリンクサーバー <span style="font-size:0.3em">© 2011-2015 プログラミング生放送</span>
		</div>
		<div class="main-container">
			<div class="mascot-panel">
				<img class="mascot" src="img/mascot.png"></img>
			</div>
			<div id="chat-content" class="chat-panel">
			</div>
		</div>
	</body>
	<script src="js/main.js"></script>
</html>
