<!DOCTYPE html>
<html>
<head>
	<title>Goroku</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="/css/goroku.css">
	<script src="http://code.jquery.com/jquery-1.11.3.js"></script>
	<script type="text/javascript" src="/js/jquery.nicescroll.min.js"></script> 
	<script type="text/javascript" src="/js/jquery-verticalcentering-plugin.min.js"></script> 
  <script type="text/javascript" src="/js/jquery.mousewheel.min.js"></script>
	<script type="text/javascript" src="/js/createjs-2015.05.21.combined.js"></script> 
	<script type="text/javascript" src="/js/goroku.js"></script>



</head>
<body>
  <canvas id="goroku_canvas" width="2000" height="1000">
  <div id="scrollPain" style="height:5000px"></div>
  </canvas>
</body>
</html>
